body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1{
    font-size: 32px;
    line-height: 37.5px;
    letter-spacing: 0.3em;
    width: 380px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    padding-top: 10.5px;
    padding-bottom: 12px;
}

a{
    text-decoration: none;
}

.menu{
    font-size: 18px;
    line-height: 21.09px;
}
    .home{
        margin-right: 10px;
        color: #9A9A9A;
    }

    .seoul{
        margin-left: 10px;
        margin-right: 10px;
        color: #9A9A9A;
    }

    .tokyo{
        margin-left: 10px;
        margin-right: 10px;
        color: #9A9A9A;
    }

    .paris{
        margin-left: 10px;
        color: black;
    }